<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<div style="height: 44px;">
    <strong style="float: left;line-height: 40px;overflow: hidden;"><a class=brand href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
    </strong>
    <form style="float: left;margin-left: 20px;margin-top: 5px;height: 12px;font-size:12pt;"><input type="text" id="ts-search-input"></form>
</div>
<script>
    var option = {
        engineKey: '9667f1156bb229b54370'
    };
(function(w,d,t,u,n,s,e){
 s = d.createElement(t);
 s.src = u;
 s.async = 1;
 w[n] = function(r){
 w[n].opts = r;
 };
 e = d.getElementsByTagName(t)[0];
 e.parentNode.insertBefore(s, e);
 })(window,document,'script','//tinysou-cdn.b0.upaiyun.com/ts.js','_ts');
 _ts(option);
</script>

